<nav class="main-menu">
			<ul>
				<li><a href="/" class="loader-handel">Home</a></li>
				<li><a href="/news" class="loader-handel">News</a></li>
				<li><a href="/series" class="loader-handel">Schedule</a></li>
				<li>
					<a href="javascript:void(0)" class="sub-menu-link" >Rank <i class="fa fa-angle-down"></i></a>
					<ul class="sub-menu">
						<li>
							<a href="javascript:void(0)" class="sub-menu-link">Teams <i class="fa fa-angle-down"></i></a>
							<ul class="sub-menu">
								<li><a href="/ranking/team/#test" class="loader-handel">Test</a></li>
								<li><a href="/ranking/team/#odi" class="loader-handel">ODI</a></li>
								<li><a href="/ranking/team/#t20" class="loader-handel">T20</a></li>
								<li><a href="/ranking/team/#women" class="loader-handel">Women</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" class="sub-menu-link">Players <i class="fa fa-angle-down"></i></a>
							<ul class="sub-menu">
								<li>
									<a href="javascript:void(0)" class="sub-menu-link">Test <i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a href="/ranking/players/test/batting" class="loader-handel">Batting</a></li>
										<li><a href="/ranking/players/test/bowling" class="loader-handel">Bowling</a></li>
										<li><a href="/ranking/players/test/all-rounder" class="loader-handel">All Rounder</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0)" class="sub-menu-link">ODI <i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a href="/ranking/players/odi/batting" class="loader-handel">Batting</a></li>
										<li><a href="/ranking/players/odi/bowling" class="loader-handel">Bowling</a></li>
										<li><a href="/ranking/players/odi/all-rounder" class="loader-handel">All Rounder</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0)" class="sub-menu-link">T20 <i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a href="/ranking/players/t20/batting" class="loader-handel">Batting</a></li>
										<li><a href="/ranking/players/t20/bowling" class="loader-handel">Bowling</a></li>
										<li><a href="/ranking/players/t20/all-rounder" class="loader-handel">All Rounder</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0)" class="sub-menu-link">Women ODI <i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a href="/ranking/players/womenodi/batting" class="loader-handel">Batting</a></li>
										<li><a href="/ranking/players/womenodi/bowling" class="loader-handel">Bowling</a></li>
										<li><a href="/ranking/players/womenodi/all-rounder" class="loader-handel">All Rounder</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0)" class="sub-menu-link">Women T20 <i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a href="/ranking/players/woment20/batting" class="loader-handel">Batting</a></li>
										<li><a href="/ranking/players/woment20/bowling" class="loader-handel">Bowling</a></li>
										<li><a href="/ranking/players/woment20/all-rounder" class="loader-handel">All Rounder</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>